#alternating-checkbox {
    margin-top:5px;
    margin-bottom:5px;
}

#alternating-checkbox:checked {
    border:2px solid red;
    outline:3px solid red;
}

#alternating-table tr:nth-child(even) {
    background-color: pink;
}

#alternating-table tr:nth-child(2) {
    background-color: blue;
}

#alternating-table tr:last-child {
    background-color: green;
}

.container {
    display: flex;
    flex-direction: column;
    width:50%;
}

.row {
    display:flex;
}

.top_left_square {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width:100px;
    height:100px;
}

.top_middle_square {
    border-bottom: 2px solid black;
    width:100px;
    height:100px;
}

.top_right_square {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    width:100px;
    height:100px;
}

.middle_left_square {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 100px;
    height: 100px;
}

.middle_center_square {
    border-bottom: 2px solid black;
    width: 100px;
    height: 100px;
}

.middle_right_square {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    width: 100px;
    height: 100px;
}

.bottom_left_square {
    border-right: 2px solid black;
    width: 100px;
    height: 100px;
}

.bottom_middle_square {
    width: 100px;
    height: 100px;
}

.bottom_right_square {
    border-left: 2px solid black;
    width: 100px;
    height: 100px;
}

.form_title {
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 3px;
}

.stylish_form {
    background-color: lightgray;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
}

.stylish_form label {
    font-family: sans-serif;
}

.stylish_form input[type=text] {
    width:380px;
    margin-top:10px;
    margin-bottom:15px;
    border-radius:5px;
    padding:5px;
    box-sizing: border-box;
}

.stylish_form select {
    width:380px;
    margin-top:10px;
    margin-bottom:15px;
    border-radius:5px;
    padding:5px;
    box-sizing: border-box;
}

.stylish_form textarea {
    width:380px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding:5px;
    box-sizing: border-box;
}

.stylish_form input[type=submit] {
    width:100px;
    padding:10px;
    background-color: rgb(3, 94, 50);
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    border: 2px solid rgb(3, 94, 50);
    border-radius: 5px;
}

.menu_container {
    display: flex;
    flex-direction: start;
    gap:5px;
}

.menu_button {
    background-color: black;
    color:white;
    border:2px solid black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding:10px;
    border-radius: 5px;
    cursor:pointer;
}

.menu_button:hover {
    background-color: gray;
}